.activites-container{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 30px;
gap: 20px;
width: 1340px;
height: 559.02px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;

}

.activite-titre{
    /* Activités à Marseille */

width: 1280px;
height: 30.02px;
padding:50px 50px 20px 50px;

font-weight: 700;
font-size: 22px;
line-height: 26px;
color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

}

.activite{
/* Frame 14 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding-left: 40px;
gap: 10px;

width: 1280px;
height: 439px;

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


}

.activite-cards{

display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
padding: 10px;

width: 297.5px;
height: 439px;

filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
border-radius: 20px;

flex: none;
order: 0;
flex-grow: 1;


}

.activite-cards img{

width: 297.5px;
height: 380px;

object-fit: cover;
border-radius: 20px 20px 0px 0px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.contenu-card{
    display: flex;
    width: 297.5px;
    justify-content: center;
}

.card-desc{

display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 20px 19px;
gap: 10px;

width: 260.5px;
height: 20px;

background: #FFFFFF;
border-radius: 0px 0px 20px 20px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


}
.titre-card{
 
width: 259.5px;
height: 19px;

font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

@media screen and (max-width: 1024px) {
    .activites-container{
        margin-top:250px;
        
    }
    .activite{
        max-width: 924px;
        width:66%;
    }
    .activite-cards img{
        height:60%;
        width: 193.5px;
        
    }
    .contenu-card{
        max-width: 193.5px;
       
    }
    
}
