
.activites-container{

    padding: 30px 0 70px 0;
    max-width: 1340px;
    min-width: 924px;
    width: 100%;
    margin: auto;

}
    
.activite-titre{

    max-width: 1280px;
    width: 100%;
    padding:50px 50px 20px 30px;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #000000;

}
    
.activite{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 20px;
    max-width: 1280px;
    width:100%;
    gap: 20px;
}
    
.activite-cards{
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    max-width: 297.5px;
    width: 100%;
    height: 100%;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    border-radius: 20px;
    
 }
    
.activite-cards img{
    
    max-width: 297.5px;
    width:100%;
    height: 380px;
    
    border-radius: 20px 20px 0px 0px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));

}
    /* Le problème de dimensionnement des images venait d'ici ajout de .activite a*/
.activite a{
    height: 100%;
    width: 100%;
    max-width: 297.5px;
    max-height: 439px;
}    
.card-desc{
    
    padding: 20px 20px;
    max-width: 297.5px;
    width: 86%;
    background: #FFFFFF;
    border-radius: 0px 0px 20px 20px;
    
    
}

.titre-card{
     
    max-width: 259.5px;
    width: 125%;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    
}
    
    @media screen and (max-width: 1024px) {
        .activites-container{
            margin-top:250px;
            max-width: 924px;
            width: 100%;
            height: auto;
        }
        .activite-titre {
            max-width: 924px;
            width: 100%;
            font-size: 20px;
            padding: 50px 0px 10px 40px;
        }
        .activite{
            max-width: 864px;
            width: 100%;
            justify-content: center;
            align-self: center;
            gap: 10px;
            
        }
        .activite-cards {
            width: 100%; 
            max-width: 193.5px; 
            height: 270px; 
        }
        .activite-cards img{
            height:200px;
            width: 193.5px;
            justify-content: flex-start;
            
        }
        .card-desc{
            width: 100%;
            height:70px;
            padding: 10px;
            box-sizing: border-box; 
        }
        .titre-card{
            max-width: 155px;
            width: 100%;
            height: 38px;
            text-align: left;
            font-size: 16px;
            white-space: normal;   /*  Pour que le texte reste contenu dans le .card-desc et qu'il retourne à la ligne quand il sort de sa case */
            word-wrap: break-word;
            overflow-wrap: break-word;
        }
    }

/* Small devices (phones, less than 768px) */
@media screen and (max-width: 767.98px) {
    .activites-container{
        height: auto;
        width: auto;
        margin: auto;
    }
    .activite{
        height: auto;
        width: auto;
        flex-direction: column;

    }
    .activite-titre{
        height: auto;
        width: auto;
        margin: auto;
        padding-left:50px;
       
    }
    .activite-cards{
        width: 315px;
        height: 200px;
    }
    .activite-cards img {
        width: 315px;
        height: 141px;
    }
    .card-desc{
        width: 315px;
        height: 59px;
    }
    .titre-card{
        width: auto;
        height: auto;
        padding-left:10px;
    }
}