/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
 
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    max-width: 1340px;
    min-width: 824px;
    width: 100%;
    height: 100%;
    margin: auto;
}

.hebergements-and-populaires section {
    
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    
}

/****** Hebergements ***********/
.hebergements {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    max-width:871px;
    min-width: 671px;
    width: 100%;
    background: #F2F2F2;
    align-self: stretch;

}

/****** Populaires ***********/
.populaires {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 429px;
    min-width: 277px;
    width: 100%;
    background: #F2F2F2;
    align-self: stretch;
    justify-content: space-between;
    
}
.card {
    margin-bottom: 30px;
}
.populaires-title {

    padding-left: 10px;
    max-width: 369px;
    width: 100%;
    height: 26px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;


}

.hebergement-titre{
    max-width: 811px;
    width: 100%;
    font-size: 16px;
    align-self: flex-start;  
    padding-left:10px;
}


.populaires-cards .card {
    display: flex;
    
    
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}
.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
   
}

.card img {
    object-fit: cover;
}
.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

.hebergements-cards1{

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    gap: 30px;
    max-width: 811px;
    
    width: 100%;


}

.hebergements-cards2{

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    gap: 30px;
    max-width: 811px;
    width: 100%;
    
    height: 100%;
}
.hebergements-cards1 a{
    width: 100%;
    height: 100%;
    max-width:250.33px;
    
}
.hebergements-cards2 a{
    width: 100%;
    height: 100%;
    max-width:250.33px;
    
}
.card1 img{
    box-sizing: border-box;
    max-width: 250.33px;
    width: 100%;
    max-height: 124px;
    height: 100%;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
}

.card1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    padding-bottom: 20px;
    max-width: 250.33px;
    width: 100%;
    max-height: 207.25px;

    background: #FFFFFF;

    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
.card1-content{
 
    display: flex;
    flex-direction: column;
    align-self: stretch;
    padding: 0px 15px ;
    gap: 10px;
    max-width: 250.33px;
    width: 100%;
    max-height: 64.25px;
    height: 100%;

}

.card-tittle{
   max-width: 220.33px;
   width: 100%;
   height: 19px;
   font-weight: 700;
   font-size: 16px;
   line-height: 19px;
   color: #000000;

}
.card-subtitle{

    max-width: 220.33px;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    padding-top:10px;
    color: #000000;

}

.more{
    /*afficher plus*/
    max-width: 811px;
    width: 100%;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    padding-left:10px;
}


@media screen and (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
        max-width:924px;
        width:100%;
        max-height: 913.5px;
        height: 100%;
        margin:auto;
        
    }
    .hebergements{
        max-width: 924px;
        width: 100%;
        max-height: 650.5px;
        height: 100%;
    }

    .hebergements h2{
        max-width: 864px;
        width: 100%;
        max-height: 26px;
        height: 100%;
        padding: 10px 0 0 10px;
    }
    .hebergements-cards1 {
        max-width: 864px;
        width: 100%;
        max-height: 207.25px;
        height: 100%;
        
    }
    .hebergements-cards2 {
        max-width: 864px;
        width: 100%;
        max-height: 207.25px;
        height: 100%;
        
    }
    .hebergements-cards1 a{
        max-width: 268px;
        width: 100%;
        max-height: 207.25px;
        height: 100%;
        
    }
    .hebergements-cards2 a{
        max-width: 268px;
        width: 100%;
        max-height: 207.25px;
        height: 100%;
        
    }
    .card1 {
        max-width: 268px;
        width: 100%;
        max-height: 207.25px;
        height: 100%;
    }
    .card1 img{
        max-width: 268px;
        width: 100%;
        max-height: 124px;
        height: 100%;
    }
    .card1-content{
        max-width: 268px;
        width: 100%;
        max-height: 64.25px;
        height: 100%;
    }
    .card-title {
        max-width: 238px;
        width: 100%;
        height: 100%;
        max-height: 19px;;
    }
    .card-subtitle{
        max-width: 238px;
        width: 100%;
    }
    .more {
        max-width: 864px;
        width: 100%;
        height: 100%;
        max-height: 21px;
    }
    .populaires {
        width: 100%;
        height: 100%;
        max-height: 252px;
        max-width: 924px;
    }
    
    .populaires-title{
        max-width: 864px;
        max-height: 26px;
        height: 100%;
        width: 100%;
        justify-content: space-between;
    }
    .fa-chart-line{
        padding-right: 50px;
    }
    .populaires-cards {
        display: flex;
        flex-direction: row;
        max-width: 864px;
        width: 100%;
        gap:10px;
    }

    .populaires-cards a {
        width: 100%;
        max-width: 274.67px;
        max-height: 146px;
        height: 100%;
        padding:10px;
    }
    .card{
        width: 100%;
        max-width: 274.67px;
        max-height: 146px;
        height: 100%;
    
    }
    .card img{
        max-width: 91.56px;
        width: 100%;
        height: 146px;
    }
    .card-content{
        max-height: 136px;
        height: 100%;
        width: 100%;
        max-width:183.33px ;
        gap:70px;
    }
    .card-txt{
        max-width: 268px;
        width: 100%;
        max-height: 85px;
        height: 100%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

@media screen and (max-width: 768px) {
    .hebergements-and-populaires{
       flex-direction: column-reverse;
       max-width: 375px;
       width: 100%;
       max-height: 2019.5px;
       gap: 5px;
    }
    .hebergements-and-populaires section {
        max-width: 375px;
        width: 100%;
        max-height: 2019.5px;
    }
    .hebergements{
        background-color: white;
        width: 100%;
        max-width: 375px;
        max-height: 1435.5px;
        gap:5px;
    }
    .hebergements h2{
        max-width: 335px;
        max-height: 26px;
        
    }
    .hebergements-cards1 {
        flex-direction: column;
        justify-items:center;
        max-width: 335px;
        max-height: 651.75px;
        
        gap:15px;
    }
    .hebergements-cards1 a{
        max-width: 335px;
        max-height: 207.25px;
    }
    .card1 {
        max-width: 335px;
        max-height: 207.25px;
    }
    .card1 img{
        max-width: 335px;
        height: 124px;
    }
    .hebergements-cards2{
        flex-direction: column;
        justify-items:center;
        
        max-width: 335px;
        max-height: 651.75px;
        gap:15px;
    }
    .hebergements-cards2 a{
        max-width: 335px;
        max-height: 207.25px;
    }
    .more{
        padding: 20px;
        max-width: 335px;
        max-height: 21px;
    }
    .populaires{
        max-width: 375px;
        max-height: 569px;
        
        
    }
    .populaires-title{
        max-width: 335px;
        max-height: 26px;
    }
    .section-title{
        max-width: 300.31px;
        max-height: 26px;
    }
    .fa-chart-line{
        padding:20px;
    }
    .populaires-cards{
        flex-direction: column;
        max-width: 335px;
    }
    .populaires-cards a{
        max-width: 335px;
        max-height: 146px;
    }
    .card{
        max-width: 335px;
        max-height: 146px;
    }
    .card img{
        max-width: 111.67px;
        height: 136px;
    }
    .card-content{
        max-width: 223.33px;
        height: 136px;
    }

    .card-txt{  
        max-width: 203.33px;
        max-height: 85px;
        gap:5px;
      }

    .card-title{
        max-width: 203.33px;
        max-height: 19px;
    }

    .card-subtitle{
        max-width: 203.33px;
        max-height: 16px;
    }


}
