.boxtop{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    width: 100%;
    margin-bottom: 30px;
}

.titre h1{
    padding-bottom: 10px;
}

.localisation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 49px;
    box-sizing: border-box;
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

.fa-location-dot{
    color: #000000;
    display: flex;
    justify-content: center;
    align-items:center ;
    width: 14px;
    height: 18px;
}

#ville {
    width: 200px;
    height: 49px;
    border:1px rgb(241, 241, 241) solid;
    padding:13px 22px 13px 22px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

#ville::placeholder{
    opacity: 1;
    color: #000000;
}

.rechercher{    
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#BtnRecherche{
    width: 132px;
    height: 49px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    background: #0065FC;
    color:white;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
}

.fa-search{
    display: none;
}

.filtres{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.btns{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn{
    display: flex;
    align-items: center;
    padding: 4px 19px;
    margin:5px;
    gap: 10px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    order: 1;
    height: 50px;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    background-color: white;
    color: #000000;
}

.btnFamilial{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 19px;
    margin:5px;
    gap: 10px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    background-color: white;
    order: 1;
    height: 50px;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: #000000;
}

.btn:hover  {
    background-color: #DEEBFF;
}

.btnFamilial:hover{
    background-color: #DEEBFF;
}

.info{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
    width: 100%;
}

.fa-info{
    border-radius: 100px;
    border:1px solid #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#0065FC;
    height: 24px;
    width: 24px;
}

@media screen and (max-width: 1024px) {
    .filtres h2 {
        font-size:18px;
    }

    .filtres{
        flex-direction: column;
        align-items: flex-start;
    }

    .btn {
        font-size: 16px;
        text-align: left;
        width: 100%;
    }
    
    .btnFamilial{
        width: 70%;
    }
}

@media screen and (max-width: 768px) {
    .boxtop{
        padding:0 20px;
        gap:20px;
    }
    .filtres{
        justify-content: center;
        gap:20px;
    }
   
    .btns{
        gap:10px;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }

    .btnFamilial{
        width: 48%;
        font-size: 14px;
        /* overflow: hidden;
        text-overflow: ellipsis;  */
        padding:15px;
        margin: 0;
    }

    .btn{
        width: 48%;
        font-size: 14px;
        /* overflow: hidden;
        text-overflow: ellipsis;  */
        padding:15px;
        margin: 0;
    }

    .fa-info{
        padding:10px;
    }

    .txt input{
        display: none;
    }

    .txt{
       margin-left: -10px;
    }

    .fa-search{
        display: flex;
        width: 49px;
        height: 49px;
        border: 1px solid #0065FC;
        background-color: #0065FC;
        color: white;
        border-radius: 15px;
        align-items: center;
        justify-content: center;
    }

    .rechercher{
       align-items: center;
       justify-content: center;
    }
    
    #ville {
        width: 85%;
    }
    
}