/****** General ***********/

* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
   
}

.card img {
    object-fit: cover;

}
.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin: 250px;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding-top: 200px;
gap: 40px;

width: 1340px;
height: 614px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
   
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    margin-right: 15px;
    gap: 30px;
    
 
    width: 985px;
    height: 614px;


    background: #F2F2F2;
    border-radius: 15px;


    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;

}

/****** Populaires ***********/
.populaires {
    width: 32%;
    
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}
/* Ajout de mon code  */
nav {
    display: flex;
    flex-direction: column;
    gap: 10px;

}
#logo {
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 20px 50px;
    gap: 10px;
    width: 61.09px;
    height: 19px;
    flex: none;
    order: 0;
    flex-grow: 0;


}
.header-container {
   /* Menu */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 50px;
gap: 68px;

position: absolute;
width: 344px;
height: 35px;
right: 0px;
top: 0px;


}
.header-container a:hover {
    border-top: #0065FC 2px solid;
    color: #0065FC;
}

.boxtop{
    position: absolute;
    left: 0px;
    top: 50px;
    margin: 30px 50px;
    gap: 10px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.titre{
/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;
width: 1340px;
height: 53px;
/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
z-index: 0;

}
.barreRecherche{
    /* Search-bar */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 24px;
margin-top:40px;
width: 377px;
height: 49px;

/* White */
background: #FFFFFF;
/* Grey */
border: 1px solid #F2F2F2;
border-radius: 15px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;

}

.localisation {
    background: rgb(241, 241, 241);
    border-radius: 15px 0px 0px 15px;
    height: 50px;
    width: 40px;
    border: 1px solid #F2F2F2;
    
}
.fa-location-dot{
    color: #000000;
    position:absolute;
    left: 16px;
    top:110px;
    width: 14px;
    height: 18px;
}

#ville {
    position: absolute;
    top: 92.5px;
    left: 40px;
    border:1px rgb(241, 241, 241) solid;
    color:#000000;
    font-weight: bold;
    text-align: center;
    width: 200px;
    height: 48px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    flex: none;
    order: 1;
    flex-grow: 0;


}
#BtnRecherche{
    position: absolute;
    top: 94px;
    left: 245px;
    height: 50px;
    width: 135px;
    border-radius: 0px 15px 15px 0px;
    background-color: #0065FC;
    color:white;
    border: 1px solid #0065FC;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center; 
    display:flex;
    flex-direction: row;

}
.fa-magnifying-glass{
    position: absolute;
    top: 110px;
    left: 250px;
    display:none;
}

.filtres{
   display:flex;
    position:absolute;
    top:275px;
    left: 50px;
    align-items: center; 

}

.btn{
/* Filter */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 4px 19px;
margin:10px;
gap: 10px;
/* Grey/Tint2 */
border: 2px solid #D9D9D9;
border-radius: 25px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

width: 180px;
height: 50px;

font-weight: 700;
font-size: 17px;
line-height: 20px;
background-color: white;
color: #000000;

}
.btnFamilial{

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 19px;
    margin:10px;
    gap: 10px;
    /* Grey/Tint2 */
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    background-color: white;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    
    width: 150px;
    height: 50px;
    
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    
    color: #000000;
    
}
.btn:hover {
    background-color: #DEEBFF;

}
.btnFamilial:hover{
    background-color: #DEEBFF;
}

.info{
    display: flex;
    position: absolute;
    top: 380px;
    left:50px;
    
}
.fa-circle-info{
    padding-right: 10px;
    align-content: center;
   
}

.hebergements-cards1 img{
    display:flex;
    width: 100%;
    height: 110px;
    
}
.hebergements-cards1{
    /* Frame 15 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 30px;

width: 811px;
height: 207.25px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

}

.hebergements-cards2 img{
    display:flex;
    width: 100%;
    height: 110px;
    
}
.hebergements-cards2{
   /* Column 2 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 30px;

width: 811px;
height: 207.25px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
 
}

.card1 img{
    object-fit: cover;
    /* Rectangle 20 */

box-sizing: border-box;

width: 250.33px;
height: 124px;

background: url(fred-kleber-gTbaxaVLvsg-unsplash.jpg);
/* White */
border: 5px solid #FFFFFF;
border-radius: 20px 20px 0px 0px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

}
.card1{
display: flex;
flex-direction: column;
align-items: flex-start;
margin-left:30px;
gap: 4px;

width: 250.33px;
height: 207.25px;

background: #FFFFFF;
/* Shadow/Card */
box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
border-radius: 20px;
flex: none;
order: 0;
flex-grow: 1;

}
.card1-content{
    /* Frame 16 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 15px;
gap: 8px;

width: 250.33px;
height: 64.25px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

}

.card-tittle{
   width: 220.33px;
   height: 19px;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 19px;
   color: #000000;
   flex: none;
   order: 0;
   align-self: stretch;
   flex-grow: 0;

}
.card-subtitle{
/* Nuit à partir de 46€ */

width: 220.33px;
height: 16px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;

color: #000000;
/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

}
.more{
    /*afficher plus*/
width: 811px;
height: 21px;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;

color: #000000;
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;

}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}